.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail-wrapper {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 16px;
}

.thumbnail-image {
  width: 237px;
  height: 237px;
  object-fit: cover;
}

.product-thumbnail {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.textlink {
  font-size: 16px;
  color: cornflowerblue;
  text-decoration: underline;
}